.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 10px 0 30px 0;
  font-family: Jost;
  /* border: 1px solid red; */
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 40%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timeline-content {
  background: var(--background-color);
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: #e7efea;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin-bottom: 20px;
  border-radius: 6px;
}

.timeline-component {
  margin: 0px 10px 10px 10px;
  h3{
    margin-bottom: 15px;
  }
}

@media (width>= 800px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-image: linear-gradient(45deg, #217ff2, #E94057, #8A2387);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media(width>=1400px){
  .timeline-component{
    max-width: 300px;
    width: 300px;
  }
}

@media(width>=1400px){
  .timeline-component{
    max-width: 420px;
    width: 420px;
  }
}